.horarios-container
  background: #fff

  .days-menu
    display: flex
    justify-content: center
    align-items: baseline

    .day
      $circle-size: 50px
      color: #fff
      background-color: $accent-dark
      border-radius: $circle-size
      height: $circle-size
      width: $circle-size
      line-height: $circle-size
      text-decoration: none
      text-align: center
      font-family: $font-family-accent
      font-size: $font-size-title
      margin: 0 15px
