---
---
// Variables
$accent-dark: #0d6054


// Typography

$font-color-accent: $accent-dark
$font-color-ligth: #9D9D9D

$font-family-accent: 'Slabo 27px', serif
$font-family-normal: 'Roboto', sans-serif

$font-size-title: 1.5em

@import "test"
@import "subpage"
@import "horarios"
